.service:hover{
    background-color: rgb(211, 183, 132);
    color: azure;
    transition: 300ms all linear;
    -webkit-transition: 300ms all linear;
    -moz-transition: 300ms all linear;
    -ms-transition: 300ms all linear;
    -o-transition: 300ms all linear;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.design:hover
{
    position: relative;
    transition: 300ms all linear;
    -webkit-transition: 300ms all linear;
    -moz-transition: 300ms all linear;
    -ms-transition: 300ms all linear;
    -o-transition: 300ms all linear;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* .design:hover::after {
    position: absolute;
    content: '';
    width: 81%;
    height: 81%;
    left: 10%;
    top: 10%;
    background-color: #54414681;
    transition: 300ms all linear;
    -webkit-transition: 300ms all linear;
    -moz-transition: 300ms all linear;
    -ms-transition: 300ms all linear;
    -o-transition: 300ms all linear;
}

.design:hover .zoom
{
    position: absolute;
    color: azure;
    font-size: 4rem;
    left: 42%;
    top: 40%;
    z-index: 1;
    transition: 300ms all linear;
    -webkit-transition: 300ms all linear;
    -moz-transition: 300ms all linear;
    -ms-transition: 300ms all linear;
    -o-transition: 300ms all linear;
} */